@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fdfdfd;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}
h1 {
  color: #e74c3c;
  margin-bottom: 0.5rem;
}
