.copy-code-container {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    background: #222c32;
  }
  
  .copy-code-button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      background-color: #616161;
      color: #e7e7e7;
      padding: 0.4em 0.5em;
      border-radius: 5px;
  
      &::before {
          content: "Copy";
      }
  
      &::after {
          margin-left: 4px;
          content: "📋";
          width: 1em;
      }
  
      // This class will be toggled via JavaScript
      &.copied {
          &::before {
              content: "Copied!";
          }
  
          &::after {
              content: "✔️";
          }
      }
  }